<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Crear propiedades</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" />
    <link rel="stylesheet" href="{{request.static_url('fidel:static/map.css') }}">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1 id="title_page">Crear propiedades</h1>
    <a href="admin">&#9668</a>
    <div id="map"></div>
    <form id="form_add_propierty" action="/add_property" method="POST" hidden>
        <div>{{ form.acronym.label }}: {{ form.acronym(pattern="[a-z0-9-]+") }}</div>
        <div hidden>{{ form.lat() }}</div>
        <div hidden>{{ form.long() }}</div>
        <input id="button_add_zone" type="submit" value="Guardar zona">
    </form>
    <div id="result">{{ result }}</div>
    <a id="show_zones" href="propierties">Ver propiedades</a>
    <script src="{{request.static_url('fidel:static/map_property.js') }}"></script>
</body>

</html>
